## Q2

In [10]:
import math
a=int(input("Enter a: "))
b=int(input("Enter b: "))
c=int(input("Enter c: "))
D=(b**2)-(4*a*c) #Determinant D

if D>0:
    r1=((0-b)+math.sqrt(D))/2*a
    r2=((0-b)-math.sqrt(D))/2*a
    print("Root 1: ",r1)
    print("Root 2: ",r2)
elif D==0:
    print("Root: ",b/2*a)
elif D<0:
    print("“Only complex roots!”")

Enter a: 2
Enter b: 2
Enter c: 2
“Only complex roots!”

## Q3

In [21]:
def smaller(arr,size,value):
    count=0
    for vals in arr:
        if vals<value:
            count+=1
    return count
x = [13, 56, 21, 45, 20, 43, 12, 43, 6]
print(smaller(x, 9, 21))
print(smaller(x, 9, 20))

4
3

## Q4

In [ ]:
values=[12,24,35,24,88,120,155,88,120,155]
unique=set(values)
unique_list=[]
for i in range(len(values)):
    if values[i] in unique:
        unique_list.append(values[i])
        unique.remove(values[i])
print(unique_list)

[12, 24, 35, 88, 120, 155]

## Q5

In [ ]:
list1=[1,3,6,78,35,55]
list2=[12,24,35,24,88,120,155]
set3=set(list1) & set(list2)
print(list(set3))

[35]

## Q6

In [ ]:
weight=float(input("Enter your weight in kg: "))
height=float(input("Enter your height in m: "))
print("BMI: ",weight/(height**2))

Enter your weight in kg: 68
Enter your height in m: 2.0
BMI:  17.0

## Q7

In [2]:
growth_multiplier=1.3
sales=200000
print("Sales: {0} \nGrowth Multiplier  {1} \nSales after seven years {2}".format(sales,growth_multiplier,sales*(growth_multiplier**7)))

Sales: 200000
Growth Multiplier  1.3
Sales after seven years 1254970.3400000003

## Q8

In [3]:
weight=float(input("Enter your weight in kg: "))
print("Weight in stone: ",(weight*2.2)/14)

Enter your weight in kg: 68
Weight in stone:  10.685714285714287

## Q9

In [23]:
#following the list structure in question where 1st word of the string is room name and second room area seperated by a space
hotel=["hall 11.3"]
hotel.append("kitchen "+ "6")
roomname=input("Enter room name: ")
roomarea=input("Enter room area in square meter: ")
hotel.append(roomname+" "+ roomarea)
print(hotel)

Enter room name: bedroom
Enter room area in square meter: 12.5
['hall 11.3', 'kitchen 6', 'bedroom 12.5']

## Q10

In [27]:
Jaafar=[3.1,2.9,3.1,3.5,2.1,3.8]
Mubeen=[2.2,2.6,3.9,3.6,2.8,3.1]
Efshal=[2.7,2.8,3.5,3.1,3.8,2.1]
# Dictionary of list contains name of students and there sgpas
Students={"Jaafar":Jaafar,
         "Mubeen":Mubeen,
         "Efshal":Efshal}
#List of list with student name and gpas 
Students_List=[]
Students_List.append("Jaafar")
Students_List.append(Jaafar)

Students_List.append("Mubeen")
Students_List.append(Mubeen)

Students_List.append("Efshal")
Students_List.append(Efshal)

print(Students)
print(Students_List)

{'Jaafar': [3.1, 2.9, 3.1, 3.5, 2.1, 3.8], 'Mubeen': [2.2, 2.6, 3.9, 3.6, 2.8, 3.1], 'Efshal': [2.7, 2.8, 3.5, 3.1, 3.8, 2.1]}
['Jaafar', [3.1, 2.9, 3.1, 3.5, 2.1, 3.8], 'Mubeen', [2.2, 2.6, 3.9, 3.6, 2.8, 3.1], 'Efshal', [2.7, 2.8, 3.5, 3.1, 3.8, 2.1]]

## Q11

In [32]:
initial_amount=float(input("Initial Amount: "))
number_of_years=int(input("Number of years: "))
interest_rate=float(input("Interest rate (percent per year): "))
total=initial_amount
for i in range(number_of_years):
    total*=(1+(interest_rate/100))

print("At the end of {0} years, you will have {1}.".format(number_of_years,"{:.2f}".format(total)))

Initial Amount: 3000
Number of years: 10
Interest rate (percent per year): 5.5
At the end of 10 years, you will have 5124.43.

## Q12

In [4]:
initial_amount=float(input("Initial Amount: "))
interest_rate=float(input("Interest rate (percent per year): "))
target_amount=float(input("Target amount: "))
time=0
while initial_amount < target_amount:
    initial_amount*=((interest_rate/100)+1)
    time+=1
print("Time required to reach this amount(in years):",time)

Initial Amount: 3000
Interest rate (percent per year): 5.5
Target amount: 5124.43
Time required to reach this amount(in years): 10

## Q13

In [3]:
x=int(input("Enter the value of x(Integer)"))
total=0
c=0
totalfor=0
for i in range(5):
    totalfor+=((i+1)*(x**i))
print("Total using for   loop: ",totalfor)
while c<5:
    total+=((c+1)*(x**c))
    c+=1
print("Total using while loop: ",total)

Enter the value of x(Integer)2
Total using for   loop:  129
Total using while loop:  129

## Q14

In [6]:
totalfor=0.0
totalwhile=0.0
c=0
for i in range(99):
    totalfor+=((i)/(i+1))
while c<99:
    totalwhile+=((c)/(c+1))
    c+=1
print("Total using for   loop: ",totalfor)
print("Total using while loop: ",totalwhile)

Total using for   loop:  93.82262248236033
Total using while loop:  93.82262248236033

## Q15

In [8]:
c=1
while c<200:
    print(c)
    c*=3

1
3
9
27
81

## Q16

In [17]:
print("prime numbers between 1 to 50.")
for i in range(2,50):
    c=0
    j=2
    while j<= i/2:
        if(i%j==0):
            c+=1
        j+=1
    if c==0:
        print(i)

prime numbers between 1 to 50.
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47